@font-face {
  font-family: 'k4-font-icons';
  src:  url('./k4-font-icons.eot?b5w1ns');
  src:  url('./k4-font-icons.eot?b5w1ns#iefix') format('embedded-opentype'),
    url('./k4-font-icons.ttf?b5w1ns') format('truetype'),
    url('./k4-font-icons.woff?b5w1ns') format('woff'),
    url('./k4-font-icons.svg?b5w1ns#k4-font-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.k4-font-icons {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'k4-font-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: top;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.k4-icon-bookmark-outline:before {
  content: "\e9da";
}
.k4-icon-bookmark:before {
  content: "\e9db";
}
.k4-icon-bp:before {
  content: "\e9dc";
}
.k4-icon-pause:before {
  content: "\e9dd";
}
.k4-icon-play:before {
  content: "\e9de";
}
.k4-icon-quote:before {
  content: "\e9df";
}
.k4-icon-reset:before {
  content: "\e9e0";
}
.k4-icon-scale:before {
  content: "\e9e1";
}
.k4-icon-zoom-in:before {
  content: "\e9e2";
}
.k4-icon-zoom-out:before {
  content: "\e9e3";
}
.k4-icon-achievement:before {
  content: "\e900";
}
.k4-icon-add:before {
  content: "\e901";
}
.k4-icon-appliance:before {
  content: "\e902";
}
.k4-icon-auto_mode:before {
  content: "\e903";
}
.k4-icon-back:before {
  content: "\e904";
}
.k4-icon-blank:before {
  content: "\e905";
}
.k4-icon-block_users:before {
  content: "\e906";
}
.k4-icon-brightness_high:before {
  content: "\e907";
}
.k4-icon-brightness_low:before {
  content: "\e908";
}
.k4-icon-call-color-1:before {
  content: "\e909";
  color: #fff;
}
.k4-icon-call-color-2:before {
  content: "\e90a";
  color: #77a2b2;
}
.k4-icon-cellphone-color-1:before {
  content: "\e90b";
  color: #fff;
}
.k4-icon-cellphone-color-2:before {
  content: "\e90c";
  color: #77a2b2;
}
.k4-icon-cheerful:before {
  content: "\e90d";
  color: #fff;
}
.k4-icon-close:before {
  content: "\e90e";
}
.k4-icon-commuity-photos-color-1:before {
  content: "\e90f";
  color: #fff;
}
.k4-icon-community-photos-color-2:before {
  content: "\e910";
  color: #77a2b2;
}
.k4-icon-content:before {
  content: "\e911";
  color: #fff;
}
.k4-icon-cool_mode:before {
  content: "\e912";
}
.k4-icon-date:before {
  content: "\e913";
}
.k4-icon-delete:before {
  content: "\e914";
}
.k4-icon-dimmer:before {
  content: "\e915";
}
.k4-icon-dining-color-1:before {
  content: "\e916";
  color: #fff;
}
.k4-icon-dining-color-2:before {
  content: "\e917";
  color: #77a2b2;
}
.k4-icon-directory-color-1:before {
  content: "\e918";
  color: #fff;
}
.k4-icon-directory-color-2:before {
  content: "\e919";
  color: #77a2b2;
}
.k4-icon-directory:before {
  content: "\e91a";
}
.k4-icon-door:before {
  content: "\e91b";
}
.k4-icon-ellipsis:before {
  content: "\e91c";
}
.k4-icon-events-color-1:before {
  content: "\e91d";
  color: #fff;
}
.k4-icon-events-color-2:before {
  content: "\e91e";
  color: #77a2b2;
}
.k4-icon-favorite:before {
  content: "\e91f";
}
.k4-icon-frustrated:before {
  content: "\e920";
  color: #fff;
}
.k4-icon-games-color-1:before {
  content: "\e921";
  color: #fff;
}
.k4-icon-games-color-2:before {
  content: "\e922";
  color: #77a2b2;
}
.k4-icon-hang_up:before {
  content: "\e923";
}
.k4-icon-heat_mode:before {
  content: "\e924";
}
.k4-icon-help:before {
  content: "\e925";
}
.k4-icon-high_energy:before {
  content: "\e926";
}
.k4-icon-home-controls-color-1:before {
  content: "\e927";
  color: #fff;
}
.k4-icon-home-controls-color-2:before {
  content: "\e928";
  color: #77a2b2;
}
.k4-icon-home-photo-color-1:before {
  content: "\e929";
  color: #fff;
}
.k4-icon-home-photo-color-2:before {
  content: "\e92a";
  color: #77a2b2;
}
.k4-icon-incoming-call-color-1:before {
  content: "\e92b";
  color: #fff;
}
.k4-icon-incoming-call-color-2:before {
  content: "\e92c";
  color: #8bd738;
}
.k4-icon-invite-guests-color-1:before {
  content: "\e92d";
  color: #fff;
}
.k4-icon-invite-guests-color-2:before {
  content: "\e92e";
  color: #77a2b2;
}
.k4-icon-light-off:before {
  content: "\e92f";
  color: #023f56;
}
.k4-icon-light-on-color-1:before {
  content: "\e930";
  color: #ffd26c;
}
.k4-icon-light-on-color-2:before {
  content: "\e931";
  color: #fff;
}
.k4-icon-light:before {
  content: "\e932";
}
.k4-icon-list:before {
  content: "\e933";
}
.k4-icon-lock:before {
  content: "\e934";
}
.k4-icon-low_energy:before {
  content: "\e935";
}
.k4-icon-magic_air_mode:before {
  content: "\e936";
}
.k4-icon-medium_energy:before {
  content: "\e937";
}
.k4-icon-message-color-1:before {
  content: "\e938";
  color: #fff;
}
.k4-icon-message-color-2:before {
  content: "\e939";
  color: #77a2b2;
}
.k4-icon-message:before {
  content: "\e93a";
}
.k4-icon-microphone:before {
  content: "\e93b";
}
.k4-icon-missed-call-color-1:before {
  content: "\e93c";
  color: #fff;
}
.k4-icon-missed-call-color-2:before {
  content: "\e93d";
  color: #ff3434;
}
.k4-icon-mute_microphone:before {
  content: "\e93e";
}
.k4-icon-mute:before {
  content: "\e93f";
}
.k4-icon-nervous:before {
  content: "\e940";
  color: #fff;
}
.k4-icon-news-color-1:before {
  content: "\e941";
  color: #fff;
}
.k4-icon-news-color-2:before {
  content: "\e942";
  color: #77a2b2;
}
.k4-icon-no_volume:before {
  content: "\e943";
}
.k4-icon-notices-color-1:before {
  content: "\e944";
  color: #fff;
}
.k4-icon-notices-color-2:before {
  content: "\e945";
  color: #77a2b2;
}
.k4-icon-off_mode:before {
  content: "\e946";
}
.k4-icon-outgoing-call-color-1:before {
  content: "\e947";
  color: #fff;
}
.k4-icon-outgoing-call-color-2:before {
  content: "\e948";
  color: #8bd738;
}
.k4-icon-plumbing:before {
  content: "\e949";
}
.k4-icon-positive:before {
  content: "\e94a";
  color: #fff;
}
.k4-icon-printer-color-1:before {
  content: "\e94b";
  color: #fff;
}
.k4-icon-printer-color-2:before {
  content: "\e94c";
  color: #77a2b2;
}
.k4-icon-profile:before {
  content: "\e94d";
}
.k4-icon-reminder-color-1:before {
  content: "\e94e";
  color: #fff;
}
.k4-icon-reminder-color-2:before {
  content: "\e94f";
  color: #77a2b2;
}
.k4-icon-remove-me:before {
  content: "\e950";
}
.k4-icon-resources-color-1:before {
  content: "\e951";
  color: #fff;
}
.k4-icon-resources-color-2:before {
  content: "\e952";
  color: #77a2b2;
}
.k4-icon-rest:before {
  content: "\e953";
}
.k4-icon-sad:before {
  content: "\e954";
  color: #fff;
}
.k4-icon-search:before {
  content: "\e955";
}
.k4-icon-send:before {
  content: "\e956";
}
.k4-icon-services-color-1:before {
  content: "\e957";
  color: #fff;
}
.k4-icon-services-color-2:before {
  content: "\e958";
  color: #77a2b2;
}
.k4-icon-settings-color-1:before {
  content: "\e959";
  color: #fff;
}
.k4-icon-settings-color-2:before {
  content: "\e95a";
  color: #77a2b2;
}
.k4-icon-share_new_photo:before {
  content: "\e95b";
}
.k4-icon-social-color-1:before {
  content: "\e95c";
  color: #fff;
}
.k4-icon-social-color-2:before {
  content: "\e95d";
  color: #77a2b2;
}
.k4-icon-star_outline:before {
  content: "\e95e";
}
.k4-icon-star:before {
  content: "\e95f";
}
.k4-icon-steps:before {
  content: "\e960";
}
.k4-icon-subtract:before {
  content: "\e961";
}
.k4-icon-surveys-color-1:before {
  content: "\e962";
  color: #fff;
}
.k4-icon-surveys-color-2:before {
  content: "\e963";
  color: #5f7f8c;
}
.k4-icon-tablet-color-1:before {
  content: "\e964";
  color: #fff;
}
.k4-icon-tablet-color-2:before {
  content: "\e965";
  color: #77a2b2;
}
.k4-icon-thermostat:before {
  content: "\e966";
}
.k4-icon-time:before {
  content: "\e967";
}
.k4-icon-triangle_down:before {
  content: "\e968";
}
.k4-icon-triangle_left:before {
  content: "\e969";
}
.k4-icon-triangle_right:before {
  content: "\e96a";
}
.k4-icon-triangle_up:before {
  content: "\e96b";
}
.k4-icon-tv-color-1:before {
  content: "\e96c";
  color: #fff;
}
.k4-icon-tv-color-2:before {
  content: "\e96d";
  color: #77a2b2;
}
.k4-icon-unblock_users:before {
  content: "\e96e";
}
.k4-icon-unlock:before {
  content: "\e96f";
}
.k4-icon-video_call:before {
  content: "\e970";
}
.k4-icon-voice_call:before {
  content: "\e971";
}
.k4-icon-volume:before {
  content: "\e972";
}
.k4-icon-weather-cloudy-color-1:before {
  content: "\e973";
  color: #f1f1f1;
}
.k4-icon-weather-cloudy-color-2:before {
  content: "\e974";
  color: #c8c9c9;
}
.k4-icon-weather-rainy--color-2:before {
  content: "\e975";
  color: #77a2b2;
}
.k4-icon-weather-rainy-color-1:before {
  content: "\e976";
  color: #f1f1f1;
}
.k4-icon-weather-stormy-color-1:before {
  content: "\e977";
  color: #f1f1f1;
}
.k4-icon-weather-stormy-color-2:before {
  content: "\e978";
  color: #f7cf52;
}
.k4-icon-weather-sunny-color-1:before {
  content: "\e979";
  color: #ede21b;
}
.k4-icon-weather-sunny-color-2:before {
  content: "\e97a";
  color: #f0c419;
}
.k4-icon-wellness-color-1:before {
  content: "\e97b";
  color: #fff;
}
.k4-icon-wellness-color-2:before {
  content: "\e97c";
  color: #77a2b2;
}
.k4-icon-wi-day-cloudy-color-1-alt:before {
  content: "\e97d";
  color: #b6b7b7;
}
.k4-icon-wi-day-cloudy-color-1:before {
  content: "\e97e";
  color: #fff;
}
.k4-icon-wi-day-cloudy-color-3:before {
  content: "\e97f";
  color: #ffd26c;
}
.k4-icon-wi-day-cloudy-wind-color-1-alt:before {
  content: "\e980";
  color: #b6b7b7;
}
.k4-icon-wi-day-cloudy-wind-color-1:before {
  content: "\e981";
  color: #fff;
}
.k4-icon-wi-day-cloudy-wind-color-2:before {
  content: "\e982";
  color: #77a2b2;
}
.k4-icon-wi-day-cloudy-wind-color-3:before {
  content: "\e983";
  color: #ffd26c;
}
.k4-icon-wi-day-fog-color-1-alt:before {
  content: "\e984";
  color: #b6b7b7;
}
.k4-icon-wi-day-fog-color-1:before {
  content: "\e985";
  color: #fff;
}
.k4-icon-wi-day-hail-color-1-alt:before {
  content: "\e986";
  color: #b6b7b7;
}
.k4-icon-wi-day-hail-color-1:before {
  content: "\e987";
  color: #fff;
}
.k4-icon-wi-day-hail-color-2:before {
  content: "\e988";
  color: #77a2b2;
}
.k4-icon-wi-day-hail-color-3:before {
  content: "\e989";
  color: #ffd26c;
}
.k4-icon-wi-day-lightning-color-1-alt:before {
  content: "\e98a";
  color: #b6b7b7;
}
.k4-icon-wi-day-lightning-color-1:before {
  content: "\e98b";
  color: #fff;
}
.k4-icon-wi-day-lightning-color-3 .path1:before {
  content: "\e98c";
  color: rgb(255, 210, 108);
}
.k4-icon-wi-day-lightning-color-3 .path2:before {
  content: "\e98d";
  margin-left: -1em;
  color: rgb(247, 207, 82);
}
.k4-icon-wi-day-lightning-color-3 .path3:before {
  content: "\e98e";
  margin-left: -1em;
  color: rgb(247, 207, 82);
}
.k4-icon-wi-day-lightning-color-3 .path4:before {
  content: "\e98f";
  margin-left: -1em;
  color: rgb(247, 207, 82);
}
.k4-icon-wi-day-rain-color-1-alt:before {
  content: "\e990";
  color: #b6b7b7;
}
.k4-icon-wi-day-rain-color-1:before {
  content: "\e991";
  color: #fff;
}
.k4-icon-wi-day-rain-color-2:before {
  content: "\e992";
  color: #77a2b2;
}
.k4-icon-wi-day-rain-color-3:before {
  content: "\e993";
  color: #ffd26c;
}
.k4-icon-wi-day-sleet-color-1-alt:before {
  content: "\e994";
  color: #b6b7b7;
}
.k4-icon-wi-day-sleet-color-1:before {
  content: "\e995";
  color: #fff;
}
.k4-icon-wi-day-sleet-color-2:before {
  content: "\e996";
  color: #77a2b2;
}
.k4-icon-wi-day-sleet-color-3:before {
  content: "\e997";
  color: #ffd26c;
}
.k4-icon-wi-day-sleet-storm-color-1-alt:before {
  content: "\e998";
  color: #b6b7b7;
}
.k4-icon-wi-day-sleet-storm-color-1:before {
  content: "\e999";
  color: #fff;
}
.k4-icon-wi-day-sleet-storm-color-2:before {
  content: "\e99a";
  color: #77a2b2;
}
.k4-icon-wi-day-sleet-storm-color-3 .path1:before {
  content: "\e99b";
  color: rgb(255, 210, 108);
}
.k4-icon-wi-day-sleet-storm-color-3 .path2:before {
  content: "\e99c";
  margin-left: -1em;
  color: rgb(247, 207, 82);
}
.k4-icon-wi-day-snow-color-1-alt:before {
  content: "\e99d";
  color: #b6b7b7;
}
.k4-icon-wi-day-snow-color-1:before {
  content: "\e99e";
  color: #fff;
}
.k4-icon-wi-day-snow-color-2:before {
  content: "\e99f";
  color: #77a2b2;
}
.k4-icon-wi-day-snow-color-3:before {
  content: "\e9a0";
  color: #ffd26c;
}
.k4-icon-wi-day-snow-thunderstorm-color-1-alt:before {
  content: "\e9a1";
  color: #b6b7b7;
}
.k4-icon-wi-day-snow-thunderstorm-color-1:before {
  content: "\e9a2";
  color: #fff;
}
.k4-icon-wi-day-snow-thunderstorm-color-2:before {
  content: "\e9a3";
  color: #77a2b2;
}
.k4-icon-wi-day-snow-thunderstorm-color-3 .path1:before {
  content: "\e9a4";
  color: rgb(255, 210, 108);
}
.k4-icon-wi-day-snow-thunderstorm-color-3 .path2:before {
  content: "\e9a5";
  margin-left: -1em;
  color: rgb(247, 207, 82);
}
.k4-icon-wi-day-solar-eclipse-color-1-alt:before {
  content: "\e9a6";
  color: #929393;
}
.k4-icon-wi-day-solar-eclipse-color-3:before {
  content: "\e9a7";
  color: #ffd26c;
}
.k4-icon-wi-day-sunny-color-1:before {
  content: "\e9a8";
  color: #ffd26c;
}
.k4-icon-wi-day-thunderstorm-color-1-alt:before {
  content: "\e9a9";
  color: #b6b7b7;
}
.k4-icon-wi-day-thunderstorm-color-1:before {
  content: "\e9aa";
  color: #fff;
}
.k4-icon-wi-day-thunderstorm-color-2:before {
  content: "\e9ab";
  color: #77a2b2;
}
.k4-icon-wi-day-thunderstorm-color-3 .path1:before {
  content: "\e9ac";
  color: rgb(255, 210, 108);
}
.k4-icon-wi-day-thunderstorm-color-3 .path2:before {
  content: "\e9ad";
  margin-left: -1em;
  color: rgb(247, 207, 82);
}
.k4-icon-wi-day-windy-color-2:before {
  content: "\e9ae";
  color: #77a2b2;
}
.k4-icon-wi-day-windy-color-3:before {
  content: "\e9af";
  color: #ffd26c;
}
.k4-icon-wi-night-clear-color-1:before {
  content: "\e9b0";
  color: #fff;
}
.k4-icon-wi-night-clear-color-2:before {
  content: "\e9b1";
  color: #77a2b2;
}
.k4-icon-wi-night-cloudy-wind-color-1-alt:before {
  content: "\e9b2";
  color: #b6b7b7;
}
.k4-icon-wi-night-cloudy-wind-color-1:before {
  content: "\e9b3";
  color: #fff;
}
.k4-icon-wi-night-cloudy-wind-color-2:before {
  content: "\e9b4";
  color: #77a2b2;
}
.k4-icon-wi-night-hail-color-1-alt:before {
  content: "\e9b5";
  color: #b6b7b7;
}
.k4-icon-wi-night-hail-color-1:before {
  content: "\e9b6";
  color: #fff;
}
.k4-icon-wi-night-hail-color-2:before {
  content: "\e9b7";
  color: #77a2b2;
}
.k4-icon-wi-night-lightning-color-1-alt:before {
  content: "\e9b8";
  color: #b6b7b7;
}
.k4-icon-wi-night-lightning-color-1:before {
  content: "\e9b9";
  color: #fff;
}
.k4-icon-wi-night-lightning-color-2:before {
  content: "\e9ba";
  color: #77a2b2;
}
.k4-icon-wi-night-lightning-color-3:before {
  content: "\e9bb";
  color: #f7cf52;
}
.k4-icon-wi-night-lunar-eclipse-color-1-alt:before {
  content: "\e9bc";
  color: #929393;
}
.k4-icon-wi-night-lunar-eclipse-color-1:before {
  content: "\e9bd";
  color: #fff;
}
.k4-icon-wi-night-lunar-eclipse-color-2:before {
  content: "\e9be";
  color: #77a2b2;
}
.k4-icon-wi-night-partly-cloudy-color-1-alt .path1:before {
  content: "\e9bf";
  color: rgb(182, 183, 183);
}
.k4-icon-wi-night-partly-cloudy-color-1-alt .path2:before {
  content: "\e9c0";
  margin-left: -1em;
  color: rgb(146, 147, 147);
}
.k4-icon-wi-night-partly-cloudy-color-1-alt .path3:before {
  content: "\e9c1";
  margin-left: -1em;
  color: rgb(182, 183, 183);
}
.k4-icon-wi-night-partly-cloudy-color-1-alt .path4:before {
  content: "\e9c2";
  margin-left: -1em;
  color: rgb(182, 183, 183);
}
.k4-icon-wi-night-partly-cloudy-color-1 .path1:before {
  content: "\e9c3";
  color: rgb(255, 255, 255);
}
.k4-icon-wi-night-partly-cloudy-color-1 .path2:before {
  content: "\e9c4";
  margin-left: -1em;
  color: rgb(146, 147, 147);
}
.k4-icon-wi-night-partly-cloudy-color-1 .path3:before {
  content: "\e9c5";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.k4-icon-wi-night-partly-cloudy-color-1 .path4:before {
  content: "\e9c6";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.k4-icon-wi-night-partly-cloudy-color-2:before {
  content: "\e9c7";
  color: #77a2b2;
}
.k4-icon-wi-night-rain-color-1-alt:before {
  content: "\e9c8";
  color: #b6b7b7;
}
.k4-icon-wi-night-rain-color-1:before {
  content: "\e9c9";
  color: #fff;
}
.k4-icon-wi-night-rain-color-2:before {
  content: "\e9ca";
  color: #77a2b2;
}
.k4-icon-wi-night-sleet-color-1-alt:before {
  content: "\e9cb";
  color: #b6b7b7;
}
.k4-icon-wi-night-sleet-color-1:before {
  content: "\e9cc";
  color: #fff;
}
.k4-icon-wi-night-sleet-color-2:before {
  content: "\e9cd";
  color: #77a2b2;
}
.k4-icon-wi-night-snow-color-1-alt:before {
  content: "\e9ce";
  color: #b6b7b7;
}
.k4-icon-wi-night-snow-color-1:before {
  content: "\e9cf";
  color: #fff;
}
.k4-icon-wi-night-snow-color-2:before {
  content: "\e9d0";
  color: #77a2b2;
}
.k4-icon-wi-night-snow-thunderstorm-color-1-alt:before {
  content: "\e9d1";
  color: #b6b7b7;
}
.k4-icon-wi-night-snow-thunderstorm-color-1:before {
  content: "\e9d2";
  color: #fff;
}
.k4-icon-wi-night-snow-thunderstorm-color-2:before {
  content: "\e9d3";
  color: #77a2b2;
}
.k4-icon-wi-night-snow-thunderstorm-color-3:before {
  content: "\e9d4";
  color: #f7cf52;
}
.k4-icon-wi-night-thunderstorm-color-1-alt:before {
  content: "\e9d5";
  color: #b6b7b7;
}
.k4-icon-wi-night-thunderstorm-color-1:before {
  content: "\e9d6";
  color: #fff;
}
.k4-icon-wi-night-thunderstorm-color-2:before {
  content: "\e9d7";
  color: #77a2b2;
}
.k4-icon-wi-night-thunderstorm-color-3:before {
  content: "\e9d8";
  color: #f7cf52;
}
.k4-icon-wi-stars-color-1:before {
  content: "\e9d9";
  color: #fff;
}
