.k4-icon-call_color1:before {
    color:rgba(255,255,255,1.0)
}
.k4-icon-call_color2:before {
   color:rgba(119,162,178,1.0)
}
.k4-icon-community_photos_color1:before {
   color:rgba(255,255,255,1.0)
}
.k4-icon-community_photos_color2:before {
    color:rgba(119,162,178,1.0)
}
.k4-icon-dining_color1:before {
    color:rgba(255,255,255,1.0)
}
.k4-icon-dining_color2:before {
    color:rgba(119,162,178,1.0)
}
.k4-icon-directory_color1:before {
    color:rgba(255,255,255,1.0)
}
.k4-icon-directory_color2:before {
    color:rgba(119,162,178,1.0)
}
.k4-icon-events_color1:before {
    color:rgba(255,255,255,1.0)
}
.k4-icon-events_color2:before {
    color:rgba(119,162,178,1.0)
}
.k4-icon-games_color1:before {
    color:rgba(255,255,255,1.0)
}
.k4-icon-games_color2:before {
    color:rgba(119,162,178,1.0);
}
.k4-icon-home_controls_color1:before {
    color:rgba(255,255,255,1.0)
}
.k4-icon-home_controls_color2:before {
    color:rgba(119,162,178,1.0)
}
.k4-icon-home_photo_color1:before {
    color:rgba(255,255,255,1.0)
}
.k4-icon-home_photo_color2:before {
    color:rgba(119,162,178,1.0)
}
.k4-icon-incoming_call_color1:before {
    color:rgba(255,255,255,1.0)
}
.k4-icon-incoming_call_color2:before {
    color:rgba(119,162,178,1.0)
}
.k4-icon-invite_guests_color1:before {
    color:rgba(255,255,255,1.0)
}
.k4-icon-invite_guests_color2:before {
    color:rgba(119,162,178,1.0)
}
.k4-icon-light_on_color1:before {
    color:rgba(255,255,255,1.0)
}
.k4-icon-light_on_color2:before {
    color:rgba(119,162,178,1.0)
}
.k4-icon-message_color1:before {
    color:rgba(255,255,255,1.0)
}
.k4-icon-message_color2:before {
    color:rgba(119,162,178,1.0)
}
.k4-icon-missed_call_color1:before {
    color:rgba(255,255,255,1.0)
}
.k4-icon-missed_call_color2:before {
    color:rgba(119,162,178,1.0)
}
.k4-icon-news_info_color1:before {
    color:rgba(255,255,255,1.0)
}
.k4-icon-news_info_color2:before {
    color:rgba(119,162,178,1.0)
}
.k4-icon-notices_color1:before {
    color:rgba(255,255,255,1.0)
}
.k4-icon-notices_color2:before {
    color:rgba(119,162,178,1.0)
}
.k4-icon-outgoing_call_color1:before {
    color:rgba(255,255,255,1.0)
}
.k4-icon-outgoing_call_color2:before {
    color:rgba(119,162,178,1.0)
}
.k4-icon-reminder_color1:before {
    color:rgba(255,255,255,1.0)
}
.k4-icon-reminder_color2:before {
    color:rgba(119,162,178,1.0)
}
.k4-icon-settings_color1:before {
    color:rgba(255,255,255,1.0)
}
.k4-icon-settings_color2:before {
    color:rgba(119,162,178,1.0)
}
.k4-icon-survey_color1:before {
    color:rgba(255,255,255,1.0)
}
.k4-icon-survey_color2:before {
    color:rgba(119,162,178,1.0)
}
.k4-icon-weather_cloudy_color1:before {
    color:rgba(255,255,255,1.0)
}
.k4-icon-weather_cloudy_color2:before {
    color:rgba(119,162,178,1.0)
}
.k4-icon-weather_rainy_color1:before {
    color:rgba(255,255,255,1.0)
}
.k4-icon-weather_rainy_color2:before {
    color:rgba(119,162,178,1.0)
}
.k4-icon-weather_storm_color1:before {
    color:rgba(255,255,255,1.0)
}
.k4-icon-weather_storm_color2:before {
    color:rgba(119,162,178,1.0)
}
.k4-icon-weather_sunny_color1:before {
    color:rgba(255,255,255,1.0)
}
.k4-icon-weather_sunny_color2:before {
    color:rgba(119,162,178,1.0)
}
.k4-icon-wellness_color1:before {
    color:rgba(255,255,255,1.0)
}
.k4-icon-wellness_color2:before {
    color:rgba(119,162,178,1.0)
}
.k4-icon-call-color-1:before {
    color:rgba(255,255,255,1.0)
}
.k4-icon-call-color-2:before {
   color:rgba(119,162,178,1.0)
}
.k4-icon-community-photos-color-1:before {
   color:rgba(255,255,255,1.0)
}
.k4-icon-community-photos-color-2:before {
    color:rgba(119,162,178,1.0)
}
.k4-icon-dining-color-1:before {
    color:rgba(255,255,255,1.07)
}
.k4-icon-dining-color-2:before {
    color:rgba(119,162,178,1.0)
}
.k4-icon-directory-color-1:before {
    color:rgba(255,255,255,1.0)
}
.k4-icon-directory-color-2:before {
    color:rgba(119,162,178,1.0)
}
.k4-icon-events-color-1:before {
    color:rgba(255,255,255,1.0)
}
.k4-icon-events-color-2:before {
    color:rgba(119,162,178,1.0)
}
.k4-icon-games-color-1:before {
    color:rgba(255,255,255,1.0)
}
.k4-icon-games-color-2:before {
    color:rgba(119,162,178,1.0);
}
.k4-icon-home-controls-color-1:before {
    color:rgba(255,255,255,1.0)
}
.k4-icon-home-controls-color-2:before {
    color:rgba(119,162,178,1.0)
}
.k4-icon-home-photo-color-1:before {
    color:rgba(255,255,255,1.0)
}
.k4-icon-home-photo-color-2:before {
    color:rgba(119,162,178,1.0)
}
.k4-icon-incoming-call-color-1:before {
    color:rgba(255,255,255,1.0)
}
.k4-icon-incoming-call-color-2:before {
    color:rgba(119,162,178,1.0)
}
.k4-icon-invite-guests-color-1:before {
    color:rgba(255,255,255,1.0)
}
.k4-icon-invite-guests-color-2:before {
    color:rgba(119,162,178,1.0)
}
.k4-icon-light-on-color-1:before {
    color:rgba(255,255,255,1.0)
}
.k4-icon-light-on-color-2:before {
    color:rgba(119,162,178,1.0)
}
.k4-icon-message-color-1:before {
    color:rgba(255,255,255,1.0)
}
.k4-icon-message-color-2:before {
    color:rgba(119,162,178,1.0)
}
.k4-icon-missed-call-color-1:before {
    color:rgba(255,255,255,1.0)
}
.k4-icon-missed-call-color-2:before {
    color:rgba(119,162,178,1.0)
}
.k4-icon-news-color-1:before {
    color:rgba(255,255,255,1.0)
}
.k4-icon-news-color-2:before {
    color:rgba(119,162,178,1.0)
}
.k4-icon-notices-color-1:before {
    color:rgba(255,255,255,1.0)
}
.k4-icon-notices-color-2:before {
    color:rgba(119,162,178,1.0)
}
.k4-icon-outgoing-call-color-1:before {
    color:rgba(255,255,255,1.0)
}
.k4-icon-outgoing-call-color-2:before {
    color:rgba(119,162,178,1.0)
}
.k4-icon-reminder-color-1:before {
    color:rgba(255,255,255,1.0)
}
.k4-icon-reminder-color-2:before {
    color:rgba(119,162,178,1.0)
}
.k4-icon-settings-color-1:before {
    color:rgba(255,255,255,1.0)
}
.k4-icon-settings-color-2:before {
    color:rgba(119,162,178,1.0)
}
.k4-icon-survey-color-1:before {
    color:rgba(255,255,255,1.0)
}
.k4-icon-survey-color-2:before {
    color:rgba(119,162,178,1.0)
}
.k4-icon-weather-cloudy-color-1:before {
    color:rgba(255,255,255,1.0)
}
.k4-icon-weather-cloudy-color-2:before {
    color:rgba(119,162,178,1.0)
}
.k4-icon-weather-rainy-color-1:before {
    color:rgba(255,255,255,1.0)
}
.k4-icon-weather-rainy-color-2:before {
    color:rgba(119,162,178,1.0)
}
.k4-icon-weather-storm-color-1:before {
    color:rgba(255,255,255,1.0)
}
.k4-icon-weather-storm-color-2:before {
    color:rgba(119,162,178,1.0)
}
.k4-icon-weather-sunny-color-1:before {
    color:rgba(255,255,255,1.0)
}
.k4-icon-weather-sunny-color-2:before {
    color:rgba(119,162,178,1.0)
}
.k4-icon-wellness-color-1:before {
    color:rgba(255,255,255,1.0)
}
.k4-icon-wellness-color-2:before {
    color:rgba(119,162,178,1.0)
}

/* New Icons added 19 Oct 2017 */

.k4-icon-cellphone-color-1:before {
    color:rgba(255,255,255,1.0)
}
.k4-icon-cellphone-color-2:before {
    color:rgba(119,162,178,1.0)
}
.k4-icon-printer-color-1:before {
    color:rgba(255,255,255,1.0)
}
.k4-icon-printer-color-2:before {
    color:rgba(119,162,178,1.0)
}
.k4-icon-resources-color-1:before {
    color:rgba(255,255,255,1.0)
}
.k4-icon-resources-color-2:before {
    color:rgba(119,162,178,1.0)
}
.k4-icon-services-color-1:before {
    color:rgba(255,255,255,1.0)
}
.k4-icon-services-color-2:before {
    color:rgba(119,162,178,1.0)
}
.k4-icon-social-color-1:before {
    color:rgba(255,255,255,1.0)
}
.k4-icon-social-color-2:before {
    color:rgba(119,162,178,1.0)
}
.k4-icon-tablet-color-1:before {
    color:rgba(255,255,255,1.0)
}
.k4-icon-tablet-color-2:before {
    color:rgba(119,162,178,1.0)
}
.k4-icon-tv-color-1:before {
    color:rgba(255,255,255,1.0)
}
.k4-icon-tv-color-2:before {
    color:rgba(119,162,178,1.0)
}